<div class="content__left">
  <section class="navigation">
    <!-- Main -->
    <div class="navigation__list">
      <div class="navigation__list__header" role="button" data-toggle="collapse" href="#main" aria-expanded="true"
        aria-controls="main">
        Main
      </div>
      <div class="collapse in" id="main">
        <a routerLink="/" class="navigation__list__item">
          <i class="ion-ios-browsers"></i>
          <span>Home</span>
        </a>
      </div>
    </div>
    <!-- / -->

    <!-- Playlists -->
    <div class="navigation__list">
      <div class="navigation__list__header" role="button" data-toggle="collapse" href="#playlists" aria-expanded="true"
        aria-controls="playlists">
        Playlists
      </div>
      <div class="collapse in" id="playlists">
        <a href="javascript:void(0)" (click)="gotoPlaylist(item)"
          *ngFor="let item of _helper.playListMenu.reverse()" class="navigation__list__item">
          <i class="ion-ios-musical-notes"></i>
          <span>{{item.name}}</span>
        </a>
      </div>
    </div>
    <!-- / -->
  </section>
  <div class="playing-playlist-wrapper">
    <section class="playlist">
      <a href="javascript:void(0)" (click)="createNewPlaylist()">
        <i class="ion-ios-plus-outline"></i>
        New Playlist
      </a>
    </section>
    <section class="playing">
      <div class="playing__art">
        <img src="/assets/user.png" alt="Album Art" />
      </div>
      <div class="playing__song">
        <a class="playing__song__name">Some Type of Love</a>
        <a class="playing__song__artist">Charlie Puth</a>
      </div>
      <div class="playing__add">
        <i class="ion-checkmark"></i>
      </div>
    </section>
  </div>
</div>
