.content__left{
  width: 100%;
}
.content__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #282828;
}

#playlists {
  max-height: 355px;
  overflow: hidden;
  overflow-y: auto;
}

@media (max-width:768px) {
  #playlists {
    max-height: 150px;
  }
}
