<!-- <section class="content"> -->
<div class="content__middle">
  <div class="artist is-verified">
    <div class="artist__header">
      <div class="artist__info">

        <div class="artist__info__meta">
          <div class="artist__info__type">Playlist</div>
          <div class="artist__info__name">My Playlist #{{index}}</div>
          <div class="artist__info__actions">
            <button class="button-dark">
              <i class="ion-ios-play"></i>
              Play
            </button>
            <button (click)="deletePlaylist()" class="button-light more">
              <i class="ion-ios-trash"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="artist__listeners">
        <div class="artist__listeners__count">{{playListSongs.length}}</div>
        <div class="artist__listeners__label">Songs</div>
      </div>
    </div>
    <div class="artist__content">
      <div class="tab-content">
        <!-- Overview -->
        <div role="tabpanel" class="tab-pane active" id="artist-overview">
          <div class="overview">
            <div *ngIf="playListSongs.length !==0" class="overview__artist">
              <!-- Playlist-->
              <div class="section-title">Playlist
                <div (click)="shufflePlaylist()" class="section-icon">
                  <i class="ion-ios-shuffle"></i>
                </div>
              </div>
              <div class="tracks">
                <div *ngFor="let item of playListSongs;let i=index;trackBy:trackByFn" class="track">
                  <div class="track__art">
                    <img src="https://via.placeholder.com/150/92c952" alt="{{item.title}}" />
                  </div>
                  <div class="track__number">{{i+1}}</div>
                  <div [title]="'Remove '+item.title" (click)="removeSongFromPlaylist(item,i)" class="track__added">
                    <i class="ion-minus"></i>
                  </div>
                  <div class="track__title">{{item.title}}
                    <div class="track__album">
                      {{item.albumName}}
                    </div>
                  </div>
                  <div class="track__plays">{{item.duration}}</div>
                </div>
              </div>
              <!-- / -->
            </div>
            <div class="overview__albums">
              <div class="overview__albums__head">
                <span class="section-title">Recommended
                </span>
              </div>
              <div class="album">
                <div class="album__tracks">
                  <div class="tracks">
                    <div class="tracks__heading">
                      <div class="tracks__heading__number">#</div>
                      <div class="tracks__heading__title">Song</div>
                      <div class="tracks__heading__length">
                        <i class="ion-ios-stopwatch-outline"></i>
                      </div>
                      <div class="tracks__heading__popularity">
                      </div>
                    </div>
                    <div class="track" *ngFor="let item of allSongs ;let i=index;trackBy:trackByFn">
                      <div class="track__number">{{i+1}}</div>

                      <div class="track__title">{{item.title}}
                        <div class="track__album">
                          {{item.albumName}}
                        </div>
                      </div>

                      <div class="track__length">{{item.duration}}</div>
                      <div (click)="addSongToPlaylist(item,i)" title="Add to Playlist" class="track__popularity">
                        <i class="ion-plus not-added"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / -->
      </div>
    </div>
  </div>
</div>

<!-- </section> -->
